{
	admin off
	auto_https off
}

:{$PORT:8080} {
	root * /usr/share/caddy
	encode zstd gzip

	header {
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
	}

	file_server
}
